// Main
main {

    // About The Network section
    .about-the-network {
        @include section-padding;
        background-color: $secondary_color;

        .wrapper {
            @include flex;
            p {
                color: $common-ft-color;
                font-size: $common-ft-size;
                line-height: 20px;
            }

            // Company
            .company {
                width: 40%;

                h5 {
                    @include section-mini-heading;
                }

                h2 {
                    color: white;
                    @include section-heading;
                    span {
                        background-color: #0e262d;
                        padding: 5px 10px;
                        border-radius: 5px;
                        font-family: $headings-font;
                    }
                }
            }

            // Company Features
            .company-features {
                @include flex;
                flex-wrap: wrap;
                width: 60%;
                color: white;
                padding-top: 20px;
                padding-left: 80px;

                img {
                    width: 20px;
                    vertical-align: middle;
                }

                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 15px;
                }

                p {
                    color: $common-ft-color;
                    font-size: 14px;
                }

                .fas, .far {
                    color: $primary_color_light;
                }

                .up {
                    padding-bottom: 50px;
                }

                .up, .down {
                    @include flex;
                }

                .tradition, .security, .certificate, .expertise {
                    width: calc(100% / 2);
                    padding-right: 30px;
                }
            }
        }
    }

    // Business Areas Section
    .business-areas {
        background-color: $ternary_color;
        @include section-padding;

        .wrapper {

            h5 {
                @include section-mini-heading;
            }

            h2 {
                @include section-heading;
                color: $heading1-color;
            }

            .highlight {
                @include highlight;
                font-family: $headings-font;
            }

            p {
                display: inline-block;
                font-size: $common-ft-size;
                color: darken($common-ft-color, 13%);
            }

            .see-all-btn {
                @include default-button;
                position: relative;
                bottom: 5px;
                float: right;
            }

            .business-features {
                @include flex;
                flex-wrap: wrap;
                width: 100%;
                padding-top: 30px;

                div:nth-child(3), div:nth-child(6) {
                    margin-right: 0px;
                }

                div:nth-child(n+4) {
                    margin-bottom: 0px;
                }

                .feature-box {
                    width: calc(100% / 3 - 30px);
                    padding: 30px 30px 35px 30px;
                    background-color: white;
                    border-radius: 10px;
                    margin-right: 45px;
                    margin-bottom: 20px;

                    // Icon
                    img {
                        width: 35px;
                    }
                    // Right Arrow
                    .fa-arrow-right {
                        color: #82c0c1;
                        float: right;
                        cursor: pointer;
                        position: relative;
                        font-size: 18px;
                        top: 5px;
                    }
                    // Box Heading
                    h3 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 17px;
                        margin-top: 15px;
                        margin-bottom: 20px;
                    }

                }
            }
        }
    }

    // How It Works Section
    .how-it-works {
        @include section-padding;

        // How It Works Heading
        .small-wrapper {
            h5 {
                @include section-mini-heading;
            }

            h2 {
                @include section-heading;
            }

            .highlight {
                @include highlight;
                font-family: $headings-font;
            }

            p {
                font-size:  $common-ft-size;
                color: darken($common-ft-color, 13%);
                line-height: 20px;
                margin-bottom: 50px;
            }
        }

        hr {
            height: 5px;
            border-style: none;
            background-color: #d9ebed;
        }

        // Process Timeline
        .process {
            @include flex;
            justify-content: space-around;

            .step {
                width: 200px;

                // Circle
                .circle {
                    @include timeline-circle;
                }
                
                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                }

                p {
                    margin-top: 20px;
                    font-size:  $common-ft-size;
                    color: darken($common-ft-color, 13%);
                    line-height: 20px;
                }
            }


        }


    }

    // Team Section
    .team {
        
    }
}