// Display Flex
@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// Default Button
@mixin default-button {
    background-color: $primary_color;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 20px;
    border-style: none;
    cursor: pointer;
}

// Default Button Transparent
@mixin default-button-transparent {
    background-color: transparent;
    color: $primary_color;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid $primary_color;
    padding: 10px 20px;
    cursor: pointer;
}

// Default Input 
@mixin default-input {
    display: inline-block;
    padding: 10px 20px 10px 15px;
    font-size: 14px;
    background-color: $input-background;
    border-radius: 3px;
    border-style: none;
    margin-bottom: 10px;

    &:focus {
        outline: none;
    }
}

// Heading Highlighting 
@mixin highlight {
    background-color: #cbe2de;
    color: $primary_color;
    padding: 5px 10px;
    border-radius: 5px;
}

@mixin highlight-dark {
    background-color: #0e262d;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: $headings-font;
}

// Section Padding
@mixin section-padding {
    padding-top: 95px;
    padding-bottom: 120px;
}

// Section Mini-Heading
@mixin section-mini-heading {
    color: $primary_color_light;
    font-size: 11px;
}

// Section Heading 
@mixin section-heading {
    font-size: 35px;
    margin: 20px 0px;
}

// Timeline Circles 
@mixin timeline-circle  {
    position: relative;
    bottom: 23px;
    font-family: $headings-font;
    color: $primary_color;
    font-size: 16px;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background-color: #d9ebed;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}