// Primary Color - Blue Lagoon
$primary_color: #048383;

// Secondary Color - Woodsmoke
$secondary_color: #121117;

// Ternary Color - Black Haze
$ternary_color: #e8ecea;


// ---------------
// Other Variables
// ---------------

// H1 Color
$heading1-color: #21333e;

// Input Background
$input-background: #cccfd2;

// Common Font Size
$common-ft-size: 12px;

// Common Font Color
$common-ft-color: #c0c3d0;
